/logs
/project/project
/project/target
/target
/tmp
/.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/node_modules
/jbehave
/composites/TestViewComposites.groovy
/data/stories/testDirectory
/phantomjsdriver.log
/public/jbehave/*
!/public/jbehave/0000000000000
!/public/jbehave/0000000000001
!/public/jbehave/0000000000002