<html>
<head>
<title>navigationMenu</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
 
<script type="syntaxhighlighter" class="brush: xml"><![CDATA[
<story path="file:data/stories/tcbdd/navigation/navigationMenu.story" title="">
<narrative keyword="Narrative:">
  <inOrderTo keyword="In order to">be able to access all functionalities</inOrderTo>
  <asA keyword="As a">application user</asA>
  <iWantTo keyword="I want to">have the navigation menu</iWantTo>
</narrative>
<lifecycle keyword="Lifecycle:">
<before keyword="Before:">
<step>Given Web home page is opened</step>
</before>
</lifecycle>
<scenario keyword="Scenario:" title="Top menu should have navigation links">
<meta>
<property keyword="@" name="sho" value=""/>
</meta>
<step outcome="successful">Given Web home page is opened</step>
<step outcome="successful">Then Web element <parameter>browseStories</parameter> should have text <parameter>Browse Stories</parameter></step>
<step outcome="successful">Then Web element <parameter>browseComposites</parameter> should have text <parameter>Browse Composites</parameter></step>
<step outcome="successful">Then Web element <parameter>runner</parameter> should have text <parameter>Run Stories</parameter></step>
</scenario>
<scenario keyword="Scenario:" title="Has link to the home screen (New Story)">
<step outcome="successful">Given Web home page is opened</step>
<step outcome="successful">When Web user clicks the element <parameter>pageTitle</parameter></step>
<step outcome="successful">Then Web element <parameter>pageTitle</parameter> should have text <parameter>Home</parameter></step>
</scenario>
<scenario keyword="Scenario:" title="Has link to the Browse Stories screen">
<step outcome="successful">Given Web home page is opened</step>
<step outcome="successful">When Web user clicks the element <parameter>browseStories</parameter></step>
<step outcome="successful">Then Web user is in the stories modal screen</step>
<step outcome="successful">Then Web element <parameter>modalHeader</parameter> should have text <parameter>Browse Stories</parameter></step>
</scenario>
<scenario keyword="Scenario:" title="Has link to the Browse Composites screen">
<step outcome="successful">Given Web home page is opened</step>
<step outcome="successful">When Web user clicks the element <parameter>browseComposites</parameter></step>
<step outcome="successful">Then Web user is in the composites modal screen</step>
<step outcome="successful">Then Web element <parameter>modalHeader</parameter> should have text <parameter>Browse Composites</parameter></step>
</scenario>
<scenario keyword="Scenario:" title="Has link to the Run Stories screen">
<step outcome="successful">Given Web home page is opened</step>
<step outcome="successful">When Web user clicks the element <parameter>runner</parameter></step>
<step outcome="successful">Then Web user is in the Runner Selector modal screen</step>
<step outcome="successful">Then Web element <parameter>modalHeader</parameter> should have text <parameter>Runner Selector</parameter></step>
</scenario>
</story>

]]></script>
</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
