
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>JBehave Reports</title>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>

<body>
<div id="banner"><img src="images/jbehave-logo.png" alt="jbehave" />
<div class="clear"></div>
</div>

<div class="reports">

<h2>Story Reports</h2>

<table>
<colgroup span="2" class="stories"></colgroup>
<colgroup span="5" class="scenarios"></colgroup>
<colgroup span="5" class="scenarios"></colgroup>
<colgroup span="6" class="steps"></colgroup>
<colgroup class="view"></colgroup>
<tr>
    <th colspan="2">Stories</th>
    <th colspan="5">Scenarios</th>
    <th colspan="5">GivenStory Scenarios</th>
    <th colspan="6">Steps</th>
    <th></th>
    <th></th>
</tr>
<tr>
    <th>Name</th>
    <th>Excluded</th>
    <th>Total</th>
    <th>Successful</th>
    <th>Pending</th>
    <th>Failed</th>
    <th>Excluded</th>
    <th>Total</th>
    <th>Successful</th>
    <th>Pending</th>
    <th>Failed</th>
    <th>Excluded</th>
    <th>Total</th>
    <th>Successful</th>
    <th>Pending</th>
    <th>Failed</th>
    <th>Not Performed</th>
    <th>Ignorable</th>
    <th>Duration (hh:mm:ss.SSS)</th>
    <th>View</th>
</tr>
<tr>
<td class="story successful">AfterStories</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">00:00:01.179</span></td>
<td>
<a href="AfterStories.stats.html">stats</a> |<a href="AfterStories.xml.html">xml</a> |<a href="AfterStories.html">html</a> |<a href="AfterStories.txt.html">txt</a>
</td>
</tr>
<tr>
<td class="story successful">BeforeStories</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">00:00:00.016</span></td>
<td>
<a href="BeforeStories.stats.html">stats</a> |<a href="BeforeStories.xml.html">xml</a> |<a href="BeforeStories.html">html</a> |<a href="BeforeStories.txt.html">txt</a>
</td>
</tr>
<tr>
<td class="story successful">CompositeClasses</td>
<td>
0</td>
<td>
<span class="">5</span></td>
<td>
<span class="successful">5</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">32</span></td>
<td>
<span class="successful">32</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">00:00:19.389</span></td>
<td>
<a href="compositeClasses.stats.html">stats</a> |<a href="compositeClasses.xml.html">xml</a> |<a href="compositeClasses.html">html</a> |<a href="compositeClasses.txt.html">txt</a>
</td>
</tr>
<tr>
<td class="story successful">CompositesForm</td>
<td>
0</td>
<td>
<span class="">10</span></td>
<td>
<span class="successful">10</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">105</span></td>
<td>
<span class="successful">105</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">00:01:00.711</span></td>
<td>
<a href="compositesForm.stats.html">stats</a> |<a href="compositesForm.xml.html">xml</a> |<a href="compositesForm.html">html</a> |<a href="compositesForm.txt.html">txt</a>
</td>
</tr>
<tr>
<td class="story successful">CompositesOperations</td>
<td>
0</td>
<td>
<span class="">9</span></td>
<td>
<span class="successful">9</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">80</span></td>
<td>
<span class="successful">80</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">00:00:39.996</span></td>
<td>
<a href="compositesOperations.stats.html">stats</a> |<a href="compositesOperations.xml.html">xml</a> |<a href="compositesOperations.html">html</a> |<a href="compositesOperations.txt.html">txt</a>
</td>
</tr>
<tr>
<td class="story successful">CompositesValidations</td>
<td>
0</td>
<td>
<span class="">8</span></td>
<td>
<span class="successful">8</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">96</span></td>
<td>
<span class="successful">96</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">00:00:46.996</span></td>
<td>
<a href="compositesValidations.stats.html">stats</a> |<a href="compositesValidations.xml.html">xml</a> |<a href="compositesValidations.html">html</a> |<a href="compositesValidations.txt.html">txt</a>
</td>
</tr>
<tr>
<td class="story successful">Dummy</td>
<td>
0</td>
<td>
<span class="">1</span></td>
<td>
<span class="successful">1</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">1</span></td>
<td>
<span class="successful">1</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">00:00:00.245</span></td>
<td>
<a href="dummy.stats.html">stats</a> |<a href="dummy.xml.html">xml</a> |<a href="dummy.html">html</a> |<a href="dummy.txt.html">txt</a>
</td>
</tr>
<tr>
<td class="story successful">Login</td>
<td>
0</td>
<td>
<span class="">5</span></td>
<td>
<span class="successful">5</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">35</span></td>
<td>
<span class="successful">35</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">00:00:11.129</span></td>
<td>
<a href="login.stats.html">stats</a> |<a href="login.xml.html">xml</a> |<a href="login.html">html</a> |<a href="login.txt.html">txt</a>
</td>
</tr>
<tr>
<td class="story successful">NavigationMenu</td>
<td>
0</td>
<td>
<span class="">5</span></td>
<td>
<span class="successful">5</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">19</span></td>
<td>
<span class="successful">19</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">00:00:07.291</span></td>
<td>
<a href="navigationMenu.stats.html">stats</a> |<a href="navigationMenu.xml.html">xml</a> |<a href="navigationMenu.html">html</a> |<a href="navigationMenu.txt.html">txt</a>
</td>
</tr>
<tr>
<td class="story successful">RunnerSingleStory</td>
<td>
0</td>
<td>
<span class="">13</span></td>
<td>
<span class="successful">13</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">137</span></td>
<td>
<span class="successful">137</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">00:05:07.123</span></td>
<td>
<a href="runnerSingleStory.stats.html">stats</a> |<a href="runnerSingleStory.xml.html">xml</a> |<a href="runnerSingleStory.html">html</a> |<a href="runnerSingleStory.txt.html">txt</a>
</td>
</tr>
<tr>
<td class="story successful">RunnerStories</td>
<td>
0</td>
<td>
<span class="">12</span></td>
<td>
<span class="successful">12</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">122</span></td>
<td>
<span class="successful">122</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">00:02:25.293</span></td>
<td>
<a href="runnerStories.stats.html">stats</a> |<a href="runnerStories.xml.html">xml</a> |<a href="runnerStories.html">html</a> |<a href="runnerStories.txt.html">txt</a>
</td>
</tr>
<tr>
<td class="story successful">StoriesBrowse</td>
<td>
0</td>
<td>
<span class="">7</span></td>
<td>
<span class="successful">7</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">59</span></td>
<td>
<span class="successful">59</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">00:00:17.800</span></td>
<td>
<a href="storiesBrowse.stats.html">stats</a> |<a href="storiesBrowse.xml.html">xml</a> |<a href="storiesBrowse.html">html</a> |<a href="storiesBrowse.txt.html">txt</a>
</td>
</tr>
<tr>
<td class="story successful">StoryEditorForm</td>
<td>
0</td>
<td>
<span class="">14</span></td>
<td>
<span class="successful">14</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">158</span></td>
<td>
<span class="successful">158</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">00:01:18.301</span></td>
<td>
<a href="storyEditorForm.stats.html">stats</a> |<a href="storyEditorForm.xml.html">xml</a> |<a href="storyEditorForm.html">html</a> |<a href="storyEditorForm.txt.html">txt</a>
</td>
</tr>
<tr>
<td class="story successful">StoryEditorOperations</td>
<td>
0</td>
<td>
<span class="">8</span></td>
<td>
<span class="successful">8</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">157</span></td>
<td>
<span class="successful">157</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">00:00:58.603</span></td>
<td>
<a href="storyEditorOperations.stats.html">stats</a> |<a href="storyEditorOperations.xml.html">xml</a> |<a href="storyEditorOperations.html">html</a> |<a href="storyEditorOperations.txt.html">txt</a>
</td>
</tr>
<tr>
<td class="story successful">StoryEditorValidations</td>
<td>
0</td>
<td>
<span class="">3</span></td>
<td>
<span class="successful">3</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">70</span></td>
<td>
<span class="successful">70</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">00:00:23.834</span></td>
<td>
<a href="storyEditorValidations.stats.html">stats</a> |<a href="storyEditorValidations.xml.html">xml</a> |<a href="storyEditorValidations.html">html</a> |<a href="storyEditorValidations.txt.html">txt</a>
</td>
</tr>
<tr class="totals">
<td>15</td>
<td>
0</td>
<td>
<span class="">100</span></td>
<td>
<span class="successful">100</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">1.071</span></td>
<td>
<span class="successful">1.071</span></td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
0</td>
<td>
<span class="">00:13:37.906</span></td>
<td>
Totals
</td>
</tr>
</table>
<br />
</div>

<div class="clear"></div>
<div id="footer">
<div class="left">Generated on 21/08/2014 15:38:45</div>
<div class="right">JBehave &#169; 2003-2011</div>
<div class="clear"></div>
</div>

</body>

</html>
