<html>
<head>
<title>storiesBrowse</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
 
<script type="syntaxhighlighter" class="brush: xml"><![CDATA[
<story path="file:data/stories/tcbdd/stories/storiesBrowse.story" title="">
<meta>
<property keyword="@" name="dummy" value=""/>
</meta>
<narrative keyword="Narrative:">
  <inOrderTo keyword="In order to">open existing and create new stories</inOrderTo>
  <asA keyword="As a">application user</asA>
  <iWantTo keyword="I want to">be able to browse files and directories</iWantTo>
</narrative>
<lifecycle keyword="Lifecycle:">
<before keyword="Before:">
<step>Given Directory data/stories/testDirectory exists</step>
<step>When File is copied from data/stories/test/dummy.story to data/stories/testDirectory/testStory.story</step>
</before>
<after keyword="After:">
<step>Given Directory data/stories/newTestDirectory does NOT exist</step>
</after>
</lifecycle>
<scenario keyword="Scenario:" title="Can open dialog">
<step outcome="successful">Given Directory <parameter>data/stories/testDirectory</parameter> exists</step>
<step outcome="successful">When File is copied from <parameter>data/stories/test/dummy.story</parameter> to <parameter>data/stories/testDirectory/testStory.story</parameter></step>
<step outcome="successful">Given Web home page is opened</step>
<step outcome="successful">When Web user clicks the element <parameter>browseStories</parameter></step>
<step outcome="successful">Then Web user is in the stories modal screen</step>
<step outcome="successful">Then Web element <parameter>modalHeader</parameter> should have text <parameter>Browse Stories</parameter></step>
<step outcome="successful">Given Directory <parameter>data/stories/newTestDirectory</parameter> does NOT exist</step>
</scenario>
<scenario keyword="Scenario:" title="Can navigate through directories">
<step outcome="successful">Given Directory <parameter>data/stories/testDirectory</parameter> exists</step>
<step outcome="successful">When File is copied from <parameter>data/stories/test/dummy.story</parameter> to <parameter>data/stories/testDirectory/testStory.story</parameter></step>
<step outcome="successful">Given Web user is in the Browse Stories dialog</step>
<step outcome="successful">Given Web home page is opened</step>
<step outcome="successful">When Web user clicks the element <parameter>browseStories</parameter></step>
<step outcome="successful">When Web user clicks the element <parameter>text:testDirectory</parameter></step>
<step outcome="successful">Then Web element <parameter>path</parameter> should have text <parameter>testDirectory</parameter></step>
<step outcome="successful">Given Directory <parameter>data/stories/newTestDirectory</parameter> does NOT exist</step>
</scenario>
<scenario keyword="Scenario:" title="Can display stories">
<step outcome="successful">Given Directory <parameter>data/stories/testDirectory</parameter> exists</step>
<step outcome="successful">When File is copied from <parameter>data/stories/test/dummy.story</parameter> to <parameter>data/stories/testDirectory/testStory.story</parameter></step>
<step outcome="successful">Given Web user is in the Browse Stories dialog</step>
<step outcome="successful">Given Web home page is opened</step>
<step outcome="successful">When Web user clicks the element <parameter>browseStories</parameter></step>
<step outcome="successful">When Web user clicks the element <parameter>text:testDirectory</parameter></step>
<step outcome="successful">Then Web element <parameter>text:testStory</parameter> exists</step>
<step outcome="successful">Given Directory <parameter>data/stories/newTestDirectory</parameter> does NOT exist</step>
</scenario>
<scenario keyword="Scenario:" title="Can open story">
<step outcome="successful">Given Directory <parameter>data/stories/testDirectory</parameter> exists</step>
<step outcome="successful">When File is copied from <parameter>data/stories/test/dummy.story</parameter> to <parameter>data/stories/testDirectory/testStory.story</parameter></step>
<step outcome="successful">Given Web user is in the Browse Stories dialog</step>
<step outcome="successful">Given Web home page is opened</step>
<step outcome="successful">When Web user clicks the element <parameter>browseStories</parameter></step>
<step outcome="successful">When Web user clicks the element <parameter>text:testDirectory</parameter></step>
<step outcome="successful">When Web user clicks the element <parameter>text:testStory</parameter></step>
<step outcome="successful">Then Web element <parameter>pageTitle</parameter> should have text <parameter>View Story</parameter></step>
<step outcome="successful">Given Directory <parameter>data/stories/newTestDirectory</parameter> does NOT exist</step>
</scenario>
<scenario keyword="Scenario:" title="Can create new story">
<step outcome="successful">Given Directory <parameter>data/stories/testDirectory</parameter> exists</step>
<step outcome="successful">When File is copied from <parameter>data/stories/test/dummy.story</parameter> to <parameter>data/stories/testDirectory/testStory.story</parameter></step>
<step outcome="successful">Given Web user is in the Browse Stories dialog</step>
<step outcome="successful">Given Web home page is opened</step>
<step outcome="successful">When Web user clicks the element <parameter>browseStories</parameter></step>
<step outcome="successful">When Web user clicks the element <parameter>createNewStory</parameter></step>
<step outcome="successful">Then Web element <parameter>pageTitle</parameter> should have text <parameter>New Story</parameter></step>
<step outcome="successful">Given Directory <parameter>data/stories/newTestDirectory</parameter> does NOT exist</step>
</scenario>
<scenario keyword="Scenario:" title="Can delete story">
<step outcome="successful">Given Directory <parameter>data/stories/testDirectory</parameter> exists</step>
<step outcome="successful">When File is copied from <parameter>data/stories/test/dummy.story</parameter> to <parameter>data/stories/testDirectory/testStory.story</parameter></step>
<step outcome="successful">Given Web user is in the Browse Stories dialog</step>
<step outcome="successful">Given Web home page is opened</step>
<step outcome="successful">When Web user clicks the element <parameter>browseStories</parameter></step>
<step outcome="successful">When Web user clicks the element <parameter>text:testDirectory</parameter></step>
<step outcome="successful">When Web user clicks the element <parameter>deletetestStory</parameter></step>
<step outcome="successful">When Web user clicks the element <parameter>ok</parameter></step>
<step outcome="successful">Then Web element <parameter>text:testStory</parameter> disappeared</step>
<step outcome="successful">Given Directory <parameter>data/stories/newTestDirectory</parameter> does NOT exist</step>
</scenario>
<scenario keyword="Scenario:" title="Can create new directory">
<step outcome="successful">Given Directory <parameter>data/stories/testDirectory</parameter> exists</step>
<step outcome="successful">When File is copied from <parameter>data/stories/test/dummy.story</parameter> to <parameter>data/stories/testDirectory/testStory.story</parameter></step>
<step outcome="successful">Given Web user is in the Browse Stories dialog</step>
<step outcome="successful">Given Web home page is opened</step>
<step outcome="successful">When Web user clicks the element <parameter>browseStories</parameter></step>
<step outcome="successful">When Web user sets value <parameter>newTestDirectory</parameter> to the element <parameter>searchStories</parameter></step>
<step outcome="successful">When Web user clicks the element <parameter>createNewDirectory</parameter></step>
<step outcome="successful">Then Web element <parameter>text:newTestDirectory</parameter> appears</step>
<step outcome="successful">Given Directory <parameter>data/stories/newTestDirectory</parameter> does NOT exist</step>
</scenario>
</story>

]]></script>
</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
