<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form class="form-horizontal" role="form" id="compositeClassForm" name="compositeClassForm" novalidate="novalidate">
                <div ng-class="getCssClass(compositeClassForm.className)">
                    <div class="input-group">
                        <span class="input-group-addon">Class</span>
                        <input id="className" name="className" class="form-control input-lg" type="text" ng-model="composites.class" required="true" ng-pattern="classNamePattern()">
                    </div>
                    <div class="help-block" ng-show="compositeClassForm.className.$dirty && compositeClassForm.className.$invalid">
                        Invalid:
                        <span ng-show="compositeClassForm.className.$error.pattern">
                            Class name cannot start with a number, but after the initial character it may use any combination of letters and digits, underscores or dollar signs.
                        </span>
                    </div>
                </div>
                <div>
                    <div class="input-group">
                        <span class="input-group-addon">Step</span>
                        <input id="stepText" name="stepText" class="form-control" type="text" ng-model="stepText" required="true" ng-pattern="classNamePattern()">
                    </div>
                </div>
            </form>
            <table class="table table-condensed table-striped">
                <tbody ng-repeat="composite in composites.composites | filter:stepText">
                    <tr>
                        <td>
                            <a href="#">{{composite.stepText}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            {{composites}}
        </div>
    </div>
</div>