<div id="runnerParams" class="modal-header">
    <h3>Run Story</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" id="runnerForm" name="runnerForm">
        <div ng-repeat="class in data.classes | filter:hasParams">
            <h3>{{class.name}}</h3>
            <div class="form-group input-group" ng-repeat="param in class.params">
                <span class="input-group-addon">
                    {{param.key}}
                </span>
                <input id="{{paramElementId(class.name, param.key)}}" name="paramValueInput" class="form-control" type="text" ng-model="param.value" popover="{{param.description}}" popover-trigger="focus">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="confirmRunStory" class="btn btn-primary" ng-click="ok()">Run Story</button>
    <button id="cancelRunStory" class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
