<!DOCTYPE html>
<html>
<head>
    <title>Angular tryouts</title>
    <script src="/assets/javascripts/angular.min.js"></script>
    <script src="/assets/javascripts/angular-resource.min.js"></script>
    <script src="stories.js"></script>
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body ng-app="storiesModule">
    <div class="container-fluid">
        <div class="row" ng-controller="storiesCtrl">
            <div class="col-md-3">
                <div class="well">
                    <label>Search for: <input type="text" ng-model="criteria"></label>
                </div>
                <table class="table table-condensed table-striped">
                    <thead>
                        <th>&nbsp;</th>
                        <th>Story</th>
                        <th>&nbsp;</th>
                    </thead>
                    <tbody ng-repeat="dir in files.dirs | filter:criteria">
                        <tr>
                            <td>DIR</td>
                            <td>{{dir.name}}</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                    <tbody ng-repeat="storyItem in filteredStories  = (files.stories | filter:criteria)">
                        <tr>
                            <td>STORY</td>
                            <td>{{storyItem.name}}</td>
                            <td><button ng-click="detailsClick(storyItem.name)" class="btn btn-info btn-xs">Details</button></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>TOTAL</td>
                            <td>{{filteredStories.length}} stories</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-9">
                <form class="form-horizontal" role="form" name="storyForm" novalidate="novalidate">
                    <div class="form-group" ng-class="getCssClass(storyForm.storyNameInput)">
                        <div class="col-sm-12">
                            <input id="storyNameInput" name="storyNameInput" class="form-control input-lg" type="text" ng-model="story.name" placeholder="story name" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="getCssClass(storyForm.storyDescriptionInput)">
                        <label id="storyDescription" for="storyDescriptionInput" class="control-label col-sm-2">Description</label>
                        <div class="col-sm-10">
                            <textarea id="storyDescriptionInput" name="storyDescriptionInput" class="form-control" ng-model="story.description" placeholder="story description"></textarea>
                        </div>
                    </div>
                    <h2 id="storyMetaHeader">Meta:</h2>
                    <div class="form-group">
                        <div ng-repeat="meta in story.meta" ng-form="storyMetaForm" ng-class="getCssClass(storyMetaForm.storyMetaInput)">
                            <div class="col-sm-11">
                                <input id="storyMetaInput{{$index}}" name="storyMetaInput" class="form-control" type="text" ng-model="meta.element" required="true">
                            </div>
                            <div class="col-sm-1">
                                <button id="storyMetaRemove{{$index}}" class="btn btn-warning" ng-click="removeElement(story.meta, $index)">X</button>
                            </div>
                        </div>
                        <div>
                            <div class="col-sm-11">&nbsp;</div>
                            <div class="col-sm-1">
                                <button id="storyMetaAdd" class="btn btn-warning" ng-click="addElement(story.meta, element)">&gt;</button>
                            </div>
                        </div>
                    </div>
                    <h2 id="storyNarrativeHeader">Narrative:</h2>
                    <div class="form-group" ng-class="getCssClass(storyForm.storyNarrativeInOrderToInput)">
                        <label id="storyNarrativeInOrderTo" for="storyNarrativeInOrderToInput" class="control-label col-sm-2">In order to</label>
                        <div class="col-sm-10">
                            <input id="storyNarrativeInOrderToInput" name="storyNarrativeInOrderToInput" class="form-control" type="text" ng-model="story.narrative.inOrderTo">
                        </div>
                    </div>
                    <div class="form-group" ng-class="getCssClass(storyForm.storyNarrativeAsAInput)">
                        <label id="storyNarrativeAsA" for="storyNarrativeAsAInput" class="control-label col-sm-2">As a</label>
                        <div class="col-sm-10">
                            <input id="storyNarrativeAsAInput" name="storyNarrativeAsAInput" class="form-control" type="text" ng-model="story.narrative.asA">
                        </div>
                    </div>
                    <div class="form-group" ng-class="getCssClass(storyForm.storyNarrativeIWantToInput)">
                        <label id="storyNarrativeIWantTo" for="storyNarrativeIWantToInput" class="control-label col-sm-2">I want to</label>
                        <div class="col-sm-10">
                            <input id="storyNarrativeIWantToInput" name="storyNarrativeIWantToInput" class="form-control" type="text" ng-model="story.narrative.iWantTo">
                        </div>
                    </div>
                    <h2 id="storyGivenStoriesHeader">Given Stories:</h2>
                    <div class="form-group">
                        <div ng-repeat="givenStory in story.givenStories" ng-form="storyGivenStoryForm" ng-class="getCssClass(storyGivenStoryForm.storyGivenStoryInput)">
                            <div class="col-sm-11">
                                <input id="storyGivenStoryInput{{$index}}" name="storyGivenStoryInput" class="form-control" type="text" ng-model="givenStory.story" required="true">
                            </div>
                            <div class="col-sm-1">
                                <button id="storyGivenStoryAdd{{$index}}" class="btn btn-warning" ng-click="removeElement(story.givenStories, $index)">X</button>
                            </div>
                        </div>
                        <div>
                            <div class="col-sm-11">&nbsp;</div>
                            <div class="col-sm-1">
                                <button id="storyGivenStoryRemove" class="btn btn-warning" ng-click="addElement(story.givenStories, story)">&gt;</button>
                            </div>
                        </div>
                    </div>
                    <h2 id="storyLifecycleHeader">Lifecycle:</h2>
                    <h3 id="storyLifecycleBeforeHeader">Before:</h3>
                    <div class="form-group">
                        <div ng-repeat="stepElement in story.lifecycle.before" ng-form="storyLifecycleBeforeForm" ng-class="getCssClass(storyLifecycleBeforeForm.storyStepInput)">
                            <div class="col-sm-11">
                                <input id="storyLifecycleBeforeStepInput{{$index}}" name="storyStepInput" class="form-control" type="text" ng-model="stepElement.step" required="true">
                            </div>
                            <div class="col-sm-1">
                                <button id="storyLifecycleBeforeStepRemove{{$index}}" class="btn btn-warning" ng-click="removeElement(story.lifecycle.before, $index)">X</button>
                            </div>
                        </div>
                        <div>
                            <div class="col-sm-11">&nbsp;</div>
                            <div class="col-sm-1">
                                <button id="storyLifecycleBeforeStepAdd" class="btn btn-warning" ng-click="addElement(story.lifecycle.before, step)">&gt;</button>
                            </div>
                        </div>
                    </div>
                    <h3 id="storyLifecycleAfterHeader">After:</h3>
                    <div class="form-group">
                        <div ng-repeat="stepElement in story.lifecycle.after" ng-form="storyLifecycleAfterForm" ng-class="getCssClass(storyLifecycleAfterForm.storyStepInput)">
                            <div class="col-sm-11">
                                <input id="storyLifecycleAfterStepInput{{$index}}" name="storyStepInput" class="form-control" type="text" ng-model="stepElement.step" required="true">
                            </div>
                            <div class="col-sm-1">
                                <button id="storyLifecycleAfterStepRemove{{$index}}" class="btn btn-warning" ng-click="removeElement(story.lifecycle.after, $index)">X</button>
                            </div>
                        </div>
                        <div>
                            <div class="col-sm-11">&nbsp;</div>
                            <div class="col-sm-1">
                                <button id="storyLifecycleAfterStepAdd" class="btn btn-warning" ng-click="addElement(story.lifecycle.after, step)">&gt;</button>
                            </div>
                        </div>
                    </div>
                    <div>TODO {{storyContent}}</div>
                    <button type="submit" class="btn btn-lg" ng-class="getButtonCssClass()" ng-disabled="!getButtonEnabled()">Save</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>