<div class="modal-header"><h3>Browse Stories</h3></div>
<div class="modal-body">
    <div>{{rootPath}}</div>
    <div class="input-group">
        <input type="text" id="searchStoriesInput" ng-model="criteria" class="form-control">
        <span class="input-group-btn">
            <button class="btn" ng-click="createDirectory(criteria)">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>
    </div>
    <table class="table table-condensed table-striped">
        <tbody>
            <tr>
                <td><a href="{{getNewStoryUrl() + rootPath}}" ng-click="ok()">Create New Story</a></td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
        <tbody>
            <tr ng-hide="!allowToPrevDir()">
                <td>
                    <a href="#" ng-click="openDir('..')">
                        <span class="glyphicon glyphicon-book"></span>
                        ..
                    </a>
                </td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
        <tbody ng-repeat="dir in files.dirs | filter:criteria">
            <tr>
                <td>
                    <a href="#" ng-click="openDir(dir.name)">
                        <span class="glyphicon glyphicon-book"></span>
                        {{dir.name}}
                    </a>
                </td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
        <tbody ng-repeat="storyItem in filteredStories  = (files.stories | filter:criteria)">
            <tr>
                <td>
                    <a href="{{viewStoryUrl(storyItem.name)}}" ng-click="ok()">
                        <span class="glyphicon glyphicon-file"></span>
                        {{storyItem.name}}
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="deleteStory(storyItem.name)" class="pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
