<div id="browseStoriesDialog">
    <div class="modal-header">
        <h3 id="modalHeader">
            Browse Stories
            <button ng-click="startJoyRide('tour_browse_stories')" type="button" class="btn btn-primary btn-sm pull-right">Tour <span class="glyphicon glyphicon-film"></span></button>
        </h3>
    </div>
    <div class="modal-body">
        <div id="path">{{rootPath}}</div>
        <div id="searchStoriesGroup" class="input-group">
            <input type="text" id="searchStories" ng-model="criteria" class="form-control">
            <span class="input-group-btn">
                <button id="createNewDirectory" class="btn" ng-click="createDirectory(criteria)">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
        </div>
        <table id="storiesList" class="table table-condensed table-striped">
            <tbody>
                <tr>
                    <td><a id="createNewStory" href="/page/stories/new/{{rootPath}}" ng-click="close()">Create New Story</a></td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
            <tbody>
                <tr ng-hide="!allowToPrevDir()">
                    <td>
                        <a href="#" ng-click="openDir('..')">
                            <span class="glyphicon glyphicon-book"></span>
                            ..
                        </a>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
            <tbody ng-repeat="dir in files.dirs | filter:criteria">
                <tr>
                    <td>
                        <a href="#" ng-click="openDir(dir.name)">
                            <span class="glyphicon glyphicon-book"></span>
                            {{dir.name}}
                        </a>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
            <tbody ng-repeat="storyItem in filteredStories = (files.stories | filter:criteria)">
                <tr>
                    <td>
                        <a href="#" ng-click="openStory(storyItem.name)">
                            <span class="glyphicon glyphicon-file"></span>
                            {{storyItem.name}}
                        </a>
                    </td>
                    <td popover="{{features.deleteStory.description}}" popover-trigger="mouseenter" popover-placement="left">
                        <button id="delete{{storyItem.name}}" ng-click="deleteStory(storyItem.name, $index)" class="btn btn-danger btn-xs pull-right" type="button" ng-disabled="!features.deleteStory.enabled">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
</div>
<div ng-repeat="tour in tours">
    <div ng-joy-ride="startJoyRideFlag" config="configJoyRide" on-finish="onFinishJoyRide()" on-skip="onFinishJoyRide()"></div>
</div>
