<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form class="form-horizontal" role="form" id="storyForm" name="loginForm" novalidate="novalidate">
                <div class="form-group" ng-class="cssClass(loginForm.username)">
                    <label for="username" class="control-label col-sm-3">Username</label>
                    <div class="col-sm-9">
                        <input id="username" name="username" class="form-control" type="text" ng-model="user.username" placeholder="Username" required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label col-sm-3">Password</label>
                    <div class="col-sm-9">
                        <input id="password" name="password" class="form-control" type="text" ng-model="user.password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button id="login" class="btn btn-primary" type="button" ng-class="buttonCssClass(loginForm)" ng-disabled="!canLogin()">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>