package composites.com.technologyconversations.bdd.steps;

import org.jbehave.core.annotations.*;
import com.technologyconversations.bdd.steps.util.BddVariable;

public class TestViewComposites {
    
        @Then("this is a dummy step")
        @Composite(steps = {"Given variable $key has value $value"})
        public void compositeStep0() { }

}