<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form class="form-horizontal" role="form" id="compositeClassForm" name="compositeClassForm" novalidate="novalidate">
                <div ng-class="cssClass(compositeClassForm.fullClassName)">
                    <div class="input-group">
                        <span class="input-group-addon">Class</span>
                        <input id="fullClassName" name="fullClassName" class="form-control input-lg" type="text" ng-model="compositesClass.class" required="true" ng-pattern="classNamePattern()">
                    </div>
                    <div class="help-block" ng-show="compositeClassForm.fullClassName.$dirty && compositeClassForm.fullClassName.$invalid">
                        Invalid:
                        <span ng-show="compositeClassForm.fullClassName.$error.pattern">
                            Class name cannot start with a number, but after the initial character it may use any combination of letters and digits, underscores or dollar signs.
                        </span>
                    </div>
                </div>
                <h3>
                    Composites
                    <button type="button" ng-click="addNewComposite()" class="pull-right btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </h3>
                <div>
                    <div class="input-group">
                        <span class="input-group-addon">Search</span>
                        <input id="stepText" name="stepText" class="form-control" type="text" ng-model="stepText">
                    </div>
                </div>
            </form>
            <table class="table table-condensed table-striped">
                <tbody ng-repeat="composite in compositesClass.composites | filter:stepText">
                    <tr>
                        <td>
                            <a href="#" ng-click="openComposite(composite)">{{composite.stepText}}</a>
                            <button id="composite{{$index}}Delete" class="btn btn-sm btn-danger pull-right" ng-click="removeCollectionElement(compositesClass.composites, $index)" type="button">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <form class="form-horizontal" role="form" id="compositeForm" name="compositeForm" novalidate="novalidate">
                <div ng-class="cssClass(compositeForm.compositeStepText)">
                    <div class="input-group">
                        <span class="input-group-addon">Composite</span>
                        <input id="compositeStepText" name="compositeStepText" class="form-control input-lg" type="text" ng-model="composite.stepText" ng-pattern="stepTextPattern()" required="true">
                    </div>
                    <div class="help-block" ng-show="compositeForm.compositeStepText.$error.pattern">
                        Step must start with Given, When or Then words.
                    </div>
                </div>
                <h3>
                    Composite Steps
                    <button type="button" ng-click="addNewCompositeStep()" class="pull-right btn btn-info">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </h3>
                <div ui-sortable class="steps" ng-model="composite.compositeSteps">
                    <div ng-form="compositeStepForm" ng-repeat="compositeStep in composite.compositeSteps" ng-class="cssClass(compositeStepForm.compositeStep)">
                        <div class="input-group sortable">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-move"></span>
                            </span>
                            <input id="compositeStep{{$index}}" name="compositeStep" class="form-control" type="text" ng-model="compositeStep.step" required="true" ng-keypress="newCollectionItem($event, composite.compositeSteps)" autofocus  typeahead="step.step as step.step for step in steps.steps | filter:{step:$viewValue} | limitTo:25">
                            <span class="input-group-btn">
                                <button id="compositeStep{{$index}}Delete" class="btn btn-danger" ng-click="removeCollectionElement(composite.compositeSteps, $index)" type="button">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="help-block" ng-show="!compositesAreValid()">
                    At least one step must be defined.
                </div>
            </form>
            <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
                <div>
                    <button class="btn btn-primary" ng-class="buttonCssClass(compositeForm)" ng-disabled="!canSaveCompositesClass(compositeForm) || !compositesAreValid()" ng-click="saveCompositesClass()" type="button">Save Composites</button>
                    <button class="btn btn-info" ng-click="revertCompositesClass()" ng-disabled="!canRevertCompositesClass()" type="button">Revert Changes</button>
                    <button class="btn btn-danger" ng-click="deleteCompositesClass()" ng-hide="!canDeleteCompositesClass()" type="button">Delete Composites</button>
                </div>
            </nav>
        </div>
    </div>
</div>