<div id="modalHeader" class="modal-header">
    <h3>
        Runner Parameters
        <button ng-click="startJoyRide('tour_single_story_runner')" type="button" class="btn btn-primary btn-sm pull-right">Tour <span class="glyphicon glyphicon-film"></span></button>
    </h3>
</div>
<div id="runnerFormGroup" class="modal-body">
    <form class="form-horizontal" role="form" id="runnerForm" name="runnerForm">
        <div ng-repeat="class in classes | filter:hasParams">
            <h3>{{class.name}}</h3>
            <div class="form-group input-group" ng-repeat="param in class.params">
                <span class="input-group-addon">
                    {{param.key}}
                </span>
                <select id="{{paramElementId(class.name, param.key)}}Option" ng-show="hasOptions(param.options)" ng-model="param.value" class="form-control" ng-options="option.value as option.text for option in param.options" ng-disabled="param.disabled">
                </select>
                <input id="{{paramElementId(class.name, param.key)}}" ng-show="!hasOptions(param.options)" name="paramValueInput" class="form-control" type="text" ng-model="param.value" popover="{{param.description}}" popover-trigger="focus" ng-disabled="param.disabled">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer" tooltip="{{features.runStory.description}}" tooltip-trigger="mouseenter" tooltip-placement="top">
    <button id="confirmRunStory" class="btn btn-primary" ng-click="ok()" ng-disabled="!features.runStory.enabled">Run</button>
    <button id="getApi" class="btn btn-primary" ng-click="getApi()" ng-show="showGetApi()">Get API</button>
    <button id="cancelRunStory" class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
<div ng-repeat="tour in tours">
    <div ng-joy-ride="startJoyRideFlag" config="configJoyRide" on-finish="onFinishJoyRide()" on-skip="onFinishJoyRide()"></div>
</div>
