@(compositePackage: String, compositeClass: String, composites: List[models.jbehave.JBehaveComposite])

package @compositePackage;

import org.jbehave.core.annotations.*;
import com.technologyconversations.bdd.steps.util.BddVariable;

@Html(s"public class $compositeClass {")
    @for((composite, index) <- composites.zipWithIndex) {
        @Html("@" + composite.stepType + "(\"" + composite.strippedFormattedStepText + "\")")
        @Html(composite.formattedCompositeSteps.mkString("""@Composite(steps = {"""", """", """", """"})"""))
        @Html(composite.params.map(param => s"""@Named("$param") BddVariable $param""").mkString(
            s"public void compositeStep$index(",
            ", ",
            ") { }"
        ))
    }
@Html("}")