@(stories: List[Story], dirs: List[String], storyForm: Form[Story])

@import helper._

<h2 id="storyAddTitle">Upload Story</h2>
@form(routes.StoryController.create, 'enctype -> "multipart/form-stories") {
    <input type="file" name="storyFile" id="storyFile">
    <input type="submit" id="storyCreate" value="Upload">
}
<h1 id="storyListTitle">@stories.size stories</h1>
<div id="jstree">
    <ul>
        @for(dir <- dirs) {
            <li>@dir</li>
        }
        @for(story <- stories) {
            <li>@story.name</li>
        }
    </ul>
<div>
