@(stories: List[Story], storyForm: Form[Story])

@import helper._

@main("Stories") {

    <h1 id="storyListTitle">@stories.size stories</h1>
    <ul id="storyList">
        @for(story <- stories) {
            <li>
                <div class="storyListName">@story.name</div>
                @form(routes.StoryController.delete(story.name)) {
                    <input class="storyListDelete" type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    <h2 id="storyAddTitle">Add New Story</h2>
    @form(routes.StoryController.create) {
        @inputText(storyForm("storyNameInput"), '_label -> "Story Name")
        <input type="submit" id="storyCreate" value="Create">
    }

}
