<div class="modal-header">
    <h3 id="modalHeader">
        Browse Composites
        <button ng-click="startJoyRide('tour_browse_composites')" type="button" class="btn btn-primary btn-sm pull-right">Tour <span class="glyphicon glyphicon-film"></span></button>
    </h3>
</div>
<div class="modal-body">
    <form id="createNewClassGroup" class="form-horizontal" role="form" id="compositeClassForm" name="compositeClassForm">
        <div ng-class="cssClass(compositeClassForm.className)">
            <div class="input-group">
                <span class="input-group-addon">Class</span>
                <input type="text" id="className" name="className" ng-model="data.class" class="form-control" ng-pattern="classNamePattern()">
                <span class="input-group-btn">
                    <a id="createNewClass" class="btn btn-info" href="{{compositeClassUrl('', data.class + '.groovy')}}" ng-click="close()" ng-disabled="!compositeClassForm.className.$dirty || compositeClassForm.className.$invalid">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </span>
            </div>
            <div id="compositeClassError" class="help-block" ng-show="compositeClassForm.className.$dirty && compositeClassForm.className.$invalid">
                Invalid:
                <span ng-show="compositeClassForm.className.$error.pattern">
                    Class name cannot start with a number, but after the initial character it may use any combination of letters and digits, underscores or dollar signs.
                </span>
            </div>
        </div>
    </form>
    <table id="compositeClasses" class="table table-condensed table-striped">
        <tbody ng-repeat="class in compositeClasses | filter:data.class">
            <tr>
                <td>
                    <a href="{{compositeClassUrl('', class.path)}}" ng-click="close()">{{compositeClassText(class.path)}}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button id="closeComposites" class="btn btn-primary" ng-click="close()">Close</button>
</div>
<div ng-repeat="tour in tours">
    <div ng-joy-ride="startJoyRideFlag" config="configJoyRide" on-finish="onFinishJoyRide()" on-skip="onFinishJoyRide()"></div>
</div>