<html>
<head>
<title>public.stories.tcbdd.composites.compositesForm</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
  
<script type="syntaxhighlighter" class="brush: plain"><![CDATA[
#org.jbehave.core.reporters.PostStoryStatisticsCollector
#Sat Jul 19 16:24:10 CEST 2014
duration=49229
notAllowed=0
examples=0
scenariosNotAllowed=0
pending=0
stepsPending=0
stepsNotPerformed=2
scenariosSuccessful=9
givenStoryScenarios=0
givenStoryScenariosFailed=0
stepsFailed=1
scenarios=10
givenStories=0
stepsSuccessful=102
steps=105
givenStoryScenariosPending=0
scenariosPending=0
stepsIgnorable=0
givenStoryScenariosNotAllowed=0
scenariosFailed=1
givenStoryScenariosSuccessful=0

]]></script>
</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
